:root {
  --c1: #000000;
  --c2: #e6b41ecc;
  --c3: #cacaca;
  --c4: #eae3b5;

  --f1: "Catamaran", sans-serif;
  --f2: "Montserrat Alternates", sans-serif;
  --f3: "Martel Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
  box-sizing: border-box;
}

body {
  background: var(--c1);
  font-family: var(--f3);
  color: var(--c4);
}

a {
  color: var(--c4);
  text-decoration: none;
}

a:hover {
  color: var(--c4);
}

.dash-nav-prof{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mod-player-data, .mod-player-data-check{
  margin: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.mod-data-box{
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 2px solid var(--c2);
  border-radius: 0.5rem;
  padding: .5rem 1rem;
  width: 100%;
}

.mod-data-box-checks{
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 2px solid var(--c2);
  border-radius: 0.5rem;
  padding: .5rem 1rem;
  width: 50vw;
}

.mod-data-box-stats{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 2px solid var(--c2);
  border-radius: 0.5rem;
  padding: .5rem 1rem;
  width: 50vw;
}

.mod-data-info{
  font-size: .8rem;
  margin: 1rem 0 0.5rem 0;
}

.mod-data-data{
  font-size: 1.2rem;
  color: var(--c3);
  font-family: var(--f2);
}

.mod-data-box-sub{
  width: 50%;
}

.mod-data-data-desc{
  font-size: 1rem;
  color: var(--c3);
  font-family: var(--f2);
}

.mod-player-form-field{
  display: flex;
  align-items: center;
  min-width: 10vw;
  justify-content: space-between;
  margin: 0.5rem 0; 
}

.form-label{
  margin: 0 1rem 0 0;
}

.mod-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0; 
}

.mod-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
}

.mod-submit{
  background: var(--c2);
  color: var(--c3);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}