
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dash-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.player-req{
  color: var(--c2);
}

.table-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.add-event{
  background-color: var(--c2);
  color: var(--c1);
  font-weight: 800;
  border-radius: 1rem;
  padding: .5rem 1rem;
}

.dash-info{
  color: var(--c3);
  font-weight: 800;
  font-size: 1.2rem;
}


/* Style the list items */
ul li {
  border: 1px solid rgb(61, 58, 58);
  margin-top: -1px; /* Prevent double borders */
  background-color: #212529;
  
  padding: 12px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  font-style: var(--f3);
  display: block;
  position: relative;
}
h2{
    font-size:1.5rem;
}
/* Add a light grey background color on hover */
ul li:hover {
  background-color: #323539;
}

/* Style the close button (span) */
.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}