:root{
  --c1: #000000;
  --c2: #E6B31E;
  --c3: #CACACA;
  --c4: #EAE3B5;

  --f1: 'Catamaran', sans-serif;
  --f2: 'Montserrat Alternates', sans-serif;
  --f3: 'Martel Sans', sans-serif;
}

body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--c1);
  font-family: var(--f3);
  color: var(--c4);
}