:root{
  --c1: #000000;
  --c2: #E6B31E;
  --c3: #CACACA;
  --c4: #EAE3B5;

  --f1: 'Catamaran', sans-serif;
  --f2: 'Montserrat Alternates', sans-serif;
  --f3: 'Martel Sans', sans-serif;
}

body, html{
  margin: 0;
  padding: .5rem 0 0 0;
  box-sizing: border-box;
}

body{
  background: var(--c1);
  font-family: var(--f3);
  color: var(--c4);
}

a{
  color: var(--c4);
  text-decoration: none;
}

a:hover{
  color: var(--c4);
}

.home-nav{
  display: flex;
  justify-content: right;
  align-items: center;
}

.yellow-home-btn{
  border: 2px solid var(--c4);
  padding: .5rem 1rem .3rem 1rem;
  font-size: 1rem;
  font-family: var(--f3);
  font-weight: 800;
  border-radius: .5rem;
  cursor: pointer;
  opacity: 0.8;
}
fa-angle-double-down
{
  size:5em;
}
.yellow-home-btn:hover{
  box-shadow: var(--c3) 0px 0px 5px;
  opacity: 1;
  transition: all .2s ease-in-out;
  
}
.arrow
{
  display: flex;
justify-content: center;
margin: 3rem 0rem 0rem 0;
}
.home-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0 4rem 0;
}

.home-slogan{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--f2);
  font-size: 2rem;
}