:root {
    --c1: #000000;
    --c2: #e6b31e;
    --c3: #cacaca;
    --c4: #eae3b5;
  
    --f1: "Catamaran", sans-serif;
    --f2: "Montserrat Alternates", sans-serif;
    --f3: "Martel Sans", sans-serif;
  }
  

  .card
  {
      background: black;
      border-style: inset;
      border-color: white;
  
   
 
  }

  .form-control
  {
    background-color : rgba(245, 245, 245, 0.04); 
    border: 2px solid rgba(0, 0, 0, 0.02);
    color:var(--c4);
    opacity:0.6;
    font-style: var(--f3);
  }
  .form-control:focus {
    background-color: rgb(5, 5, 5);
    border-color: var(--c4);
    
   
   color:var(--c4);
  }

  .tabs2 {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    font-family: var(--f2);
    font-weight: 600;
    width: 500px;
    color: var(--c3);
  
  }
  
  .tab2 {
    padding: 0.5rem 1rem 0.3rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--c3);
  
    cursor: pointer;
  }
  
  .tab2:hover {
    background-color: var(--c2);
    color: var(--c1);
    transition: all 0.3s 0s ease;
  }